<main id="main" class="main">
  <style type="text/css">
    .badge{
          width: 50%;
    }
  </style>
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Feedback analysis</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">User ID</th>
                <th scope="col">Subject</th>
                <th scope="col">Query</th>
                <th scope="col">Type</th>
                <th scope="col">Created Date</th>
              </tr>
            </thead>
            <tbody id="feedbackdetails">
              
            </tbody>
         </table>
      </div>
    </section>
    
  </main><!-- End #main -->