<main id="main" class="main">
  <style type="text/css">
    .table .badge{
          width: 50%;
    }
  </style>
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Parcel ID</th>
                <th scope="col">From Hub</th>
                <th scope="col">Send Date</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody id="parceldetails">
              
            </tbody>
         </table>
              
      </div>

      <button type="button" id="showMod" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal" style="display: none;"></button>
      <div class="modal fade" id="basicModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Your Parcel Deatils</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                <li class="list-group-item"><i class="bi bi-star me-1 text-success"></i> Luggage ID :  <span id="spanluggageid"></span></li>
                <li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> Present Hub :  <span id="spanpresenthub"></span></li>
                <li class="list-group-item"><i class="bi bi-check-circle me-1 text-danger"> Delivery QR Code</i></li>
              </ul>
              <center>
                <br>
                <img id="qrimage" height="100" width="350" />
                <br><br>
                <iframe id="mapframe" height="450" width="350"></iframe>
              </center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div><!-- End Basic Modal-->

    </section>


    
  </main><!-- End #main -->
