<main id="main" class="main">
  <style type="text/css">
    .badge{
          width: 50%;
    }
  </style>
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Luggage ID</th>
                <th scope="col">From Hub</th>
                <th scope="col">To Hub</th>
                <th scope="col">Current Hub</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody id="luggagedetails">
              
            </tbody>
         </table>
              
      </div>
    </section>
    
  </main><!-- End #main -->
