<main id="main" class="main">
  <style type="text/css">
    .table .badge{
          width: 50%;
    }
  </style>
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Parcel History</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Parcel ID</th>
                <th scope="col">From Hub</th>
                <th scope="col">Send Date</th>
                <th scope="col">Status</th>
                <th scope="col">Received Hub</th>
                <th scope="col">Received Date</th>
              </tr>
            </thead>
            <tbody id="parcelhistorydetails">
              
            </tbody>
         </table>          
      </div>
    </section>


    
  </main><!-- End #main -->
